.jumbotorn {
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  height: 100vh;
  display: table;
  width: 100%;

  .content {
    display: table-cell;
    vertical-align: middle;
    color: #fff
  }

  .jumbotorn__title {
    font: {
      weight: bolder;
    }
    text-shadow: 10px 5px 5px rgba(0,0,0,.5);
  }
}


