.site-navigation { 
  position: fixed;
  top:0;
  right:0;
  left:0;
  transition: all .3s ease-in-out;
  border-radius: 0;
  z-index: 9999;
  background-color: transparent;


  &.affix {
    background-color: #19505B;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
  }

}



/**
 * navigation bar logo link and image 
 */


.nav-logo-link {
  color: #fff;
  text-decoration: none;  
  font: {
    size: 32px;
    weight: bold;
  }

  img {
    max-height: 52px;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}


/**
 * Navigation Items */

.nav-item {
  margin-top: 18px;  
  margin-bottom: 18px;
  color: #fff;

  &:hover, &:focus { 
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #fff;
  }
}