<section class="page-section grey-shade" id='products'>
  <div class="container">
    <h1>Products</h1>
    <div class="owl-carousel product-carousel" id='productCarousel'>
      <div class='product-item'><img src='images/product_kuat_1.png'/></div>
      <div class='product-item'><img src='images/product_kuat_2.png'/></div>
      <div class='product-item'><img src='images/product_kuat_3.png'/></div>
      <div class='product-item'><img src='images/product_kuat_4.png'/></div>
      <div class='product-item'><img src='images/product_kuat_5.png'/></div>
    </div>
  </div>
</section>