<nav class="navbar navbar-expand-md navbar-main sps sps--abv">  
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src='images/logo-white.svg' alt='logo' />
      {{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <div class="mr-auto">&nbsp;</div>
      <ul class="navbar-nav mt-2 mt-md-auto">
        <li class="nav-item">
          <a href="{{ "/#home" | prepend: site.baseurl }}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{ "/#about" | prepend: site.baseurl }}" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="{{ "/#products" | prepend: site.baseurl }}" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/#contact" | prepend: site.baseurl }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
