@media (min-width: 768px) {
  .navbar-main {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    
    transition: all .3s ease-in-out;
    border-radius: 0;
    z-index: $nav-zindex;

    .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;      
      font-weight: 900;
      &:hover, &:focus {
        color: white;
      }
    }

    .navbar-nav > li.nav-item > a.nav-link {
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 75%;
      font-weight: 900;
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }


    &.sps--abv {
      background-color: transparent;
      border-color: transparent;
    }

    &.sps--blw {
      background-color: white;
      border-color: rgba(34, 34, 34, 0.1);
      .navbar-brand {
        color: #535353;
        &:hover, &:focus {
          color: red; // $theme-primary;
        }
      }
      .navbar-nav > li.nav-item > a.nav-link {
        color: #535353;
        &:focus {
          color: #535353;
        }
        &:hover, &:focus:hover {
          color: red;// $theme-primary;
        }
      }
    }
    border:1px solid red;
  }
}