@media (min-width: 768px) {
  .navbar-main {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    
    transition: all .3s ease-in-out;
    border-radius: 0;
    z-index: $nav-zindex;

    .navbar-brand {
      color: #fff;
      font-weight: 700;
      font-size: 32px;
      display:block;
      height: auto;

      &:hover, &:focus {
        color: #fff;
        text-decoration: none;
      }

      img {
        display:inline-block;
        height:52px;
      }
    }

    .navbar-nav > li.nav-item > a.nav-link {
      color: #fff;
      letter-spacing: 2px;      
      &:focus {
        color: #fff;
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }


    &.sps--abv {
      background-color: transparent;
      border-color: transparent;
    }

    &.sps--blw {
      background-color: white;
      border-color: rgba(34, 34, 34, 0.1);
      .navbar-brand {
        color: #535353;
        &:hover, &:focus {
          color: red; // $theme-primary;
        }
      }
      .navbar-nav > li.nav-item > a.nav-link {
        color: #535353;
        &:focus {
          color: #535353;
        }
        &:hover, &:focus:hover {
          color: red;// $theme-primary;
        }
      }
    }
    border:1px solid red;
  }
}