@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&subset=devanagari,latin-ext');

$default-font-size: 1rem !default;

$font-family-sans-serif:      'Poppins', sans-serif;
$font-family-monospace:       "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-paragraph-text:         'Poppins', sans-serif;


///* remove*/
$default-font: 'Montserrat', 'Roboto', sans-serif;
$header-font: 'Montserrat', 'Roboto', sans-serif;


$nav-zindex: 9999;