---
# Main CSS for the site
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "variables",
  "base",
  "bootstrap4",
  "fontawesome",
  "navigation",
  "page-section",
  "product-carousel",
  "product-article",
  "footer";

  