.product-article {

  border-bottom: 1px solid #d0d0d0;


  .product-image {
    padding: 0 80px;
    text-align: center;
    img {
      display:inline-block;
      width: 100%;
      max-width: 350px;
    }
  }

  .product-text {
    padding-top: 20px;
  }
}